/* Global Styles */

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Open Sans";
  font-size: 16px;
}

h2{
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}
.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.vert-text h1 {
  padding: 0;
  margin: 0;
  font-size: 4.5em;
  font-weight: 700;
}

/* Side Menu */
#menu-close {
  position: relative;
  z-index: 100;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 0;
  width: 250px;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 55px;
  line-height: 55px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#menu-toggle {
  top: 0.5em;
  left: 0.5em;
  position: fixed;
  z-index: 1;
  border: 2px solid;
}

#sidebar-wrapper.active {
  left: 250px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;

  -webkit-box-shadow: 5px 0 5px rgba(0,0,0,.15);
  -moz-box-shadow: 5px 0 5px rgba(0,0,0,.15);
  box-shadow: 5px 0 5px rgba(0,0,0,.15);
}

.toggle {
  margin: 5px 5px 0 0;
}

/* Full Page Image Header Area */

.header {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background: url(../img/home-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Intro */

.intro {
  padding: 50px 0;
}

/* Services */

.services {
  background: #7fbbda;
  padding: 50px 0;
  color: #ffffff;
}

.service-item {
  margin-bottom: 15px;
}

i.service-icon {
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  font-size: 56px;
  width: 140px;
  height: 140px;
  line-height: 136px;
  vertical-align: middle;
  text-align: center;
}

/* Callout */

.callout {
  color: #ffffff;
  display: table;
  height: 400px;
  width: 100%;
  background: url('../img/background-last-event.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Sponsors */

.sponsors{
  background: #F7F9F9;
}
.sponsors-item .img-thumbnail{
  border: 4px solid #DDE4E7;
}
.corner-description{
  opacity: 0.8;
  position: absolute;
  bottom: -7px;
  left: 0px;
  right: 0px;
  padding: 5px 0px;
  color: #ffffff;
  background: #000000;
  text-decoration: none;
  text-align: center;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
  border-radius: 0 0 4px 4px;
  width: 255px;
  margin-left: 19px;
}

/* Sponsors */
/* Portfolio */

.portfolio, .sponsors {
  padding: 50px 0;
}

.portfolio-item {
  margin-bottom: 25px;
}

.img-portfolio {
  margin: 0 auto;
}


/* Call to Action */

.call-to-action {
  color: #ffffff;
  background: #0a5175;
  padding: 50px 0;
}

.call-to-action .btn {
  margin: 10px;
}

/* Map */

.map {
  height: 500px;
  border-bottom: 4px solid #333;
}

/* Footer */

footer {
  padding: 100px 0;
}

.top-scroll {
  margin-top: 50px;
}

.top-scroll a {
  text-decoration: none;
  color: inherit;
}

i.scroll {
  color: #333333;
}

i.scroll:hover {
  color: #0a5175;
}
/* Responsive */

@media (max-width: 768px) {

  .header {
    background: url(../img/home-background.jpg) no-repeat center center scroll;
  }

  .callout {
    background: url(../img/callout.jpg) no-repeat center center scroll;
  }

  .map {
    height: 75%;
  }

}

@media (max-width: 992px) {
  .sponsors-item .img-thumbnail{
    margin-bottom: 1em;
  }
}

.btn {
  border: 2px solid #fff;
}

.square-reticle{
    background: #F2F2F2;
    background-image: -moz-linear-gradient(45deg, rgba(0,0,0,.15) 1px, transparent 1px);
    background-image: -webkit-linear-gradient(45deg, rgba(0,0,0,.15) 1px, transparent 1px);
    background-image: -ms-linear-gradient(45deg, rgba(0,0,0,.15) 1px, transparent 1px);
    background-image: -o-linear-gradient(45deg, rgba(0,0,0,.15) 1px, transparent 1px);
    background-image: linear-gradient(45deg, rgba(0,0,0,.15) 1px, transparent 1px);
    -webkit-background-size: 2px 2px;
    background-size: 2px 2px;
}
.form-signin.newsletter .input-group{
  margin-bottom: 1em;
}

/*  FONT-COLORS */

/* LOCATION */
#location{
  padding: 30px 0;
  border-bottom: 4px solid #0a5175;
}
/* LOCATION */

.icon {
  display: block;
  text-align: center;
  padding: 0 15px;
  position: relative;
}
.icon:after {
  background-color: #0ea7c3;
  border-radius: 100%;
  content: "";
  height: 6px;
  margin-left: -2px;
  position: absolute;
  top: 107px;
  left: 50%;
  opacity: 0;
  filter: alpha(opacity=0);
  width: 6px;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}
.icon h2 {
  margin-top: 40px;
  margin-bottom: 20px;
  -webkit-transition: color .5s;
  transition: color .5s;
}
.icon p {
  line-height: 1.7em;
}
.icon .glyphicon {
  border: 7px solid #0ea7c3;
  border-radius: 100%;
  font-size: 34px;
  padding: 34px;
  width: auto;
}
.icon .glyphicon:before {
  color: #0ea7c3;
  position: relative;
  -webkit-transition: color .3s;
  transition: color .3s;
}
.icon .glyphicon:after {
  background-color: #fff;
  border: 4px solid #0ea7c3;
  border-radius: 100%;
  content: "";
  height: 32px;
  margin-left: -15px;
  position: absolute;
  top: auto;
  right: auto;
  bottom: -16px;
  left: 50%;
  width: 32px;
}
.icon .glyphicon.glyphicon-heart-empty:before {
  left: -2px;
}
.icon:hover {
  color: #444444;
}
.icon:hover:after {
  opacity: 1;
  filter: alpha(opacity=100);
}
.icon:hover h2 {
  color: #0ea7c3;
}
.icon:hover .glyphicon {
  background-color: #0ea7c3;
  border: 1px solid #2b8b9c;
  padding: 40px;
}
.icon:hover .glyphicon:before {
  color: #fff;
}
.icon:hover .glyphicon:after {
  bottom: -10px;
}
@media (max-width: 768px) {
  .icon {
    margin: 30px 0;
  }
}
