/* Global Styles */

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
}
iframe, object, embed {
  max-width: 100%;
}

h2{
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Open Sans","Arial",sans-serif;
}

.no-opacity{
  opacity: 1 !important;
}
.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.vert-text h1 {
  padding: 0;
  margin: 0;
  font-size: 4.5em;
  font-weight: 700;
}

/* Side Menu */
#menu-close {
  position: relative;
  z-index: 100;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 0;
  width: 250px;
  background: #2E3339;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #C5D2E1;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: #252A30;
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 55px;
  line-height: 55px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#menu-toggle {
  top: 0.5em;
  left: 0.5em;
  position: fixed;
  z-index: 1;
  border: 2px solid;
}

#sidebar-wrapper.active {
  left: 250px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;

  -webkit-box-shadow: 5px 0 5px rgba(0,0,0,.15);
  -moz-box-shadow: 5px 0 5px rgba(0,0,0,.15);
  box-shadow: 5px 0 5px rgba(0,0,0,.15);
}

.toggle {
  margin: 5px 5px 0 0;
}

/* Full Page Image Header Area */

.header {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background: url(../img/home-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header.conduct-code{
  height: 310px;
}
/* Intro */

.intro {
  padding: 50px 0;
}

/* Services */

.services {
  background: #19ACCA;
  padding: 50px 0;
  color: #ffffff;
}

.service-item {
  margin-bottom: 15px;
}

i.service-icon {
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  font-size: 56px;
  width: 140px;
  height: 140px;
  line-height: 136px;
  vertical-align: middle;
  text-align: center;
}

/* Callout */

.callout {
  color: #ffffff;
  display: table;
  height: 400px;
  width: 100%;
  background: url('../img/background-last-event.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Sponsors */

.sponsors{
  background: #F7F9F9;
  border-bottom: 4px solid #0a5175;
}

.thumbnail {
  position:relative;
  overflow:hidden;
}

.caption {
  position:absolute;
  top:0;
  right:0;
  width:100%;
  height:100%;
  padding:2%;
  display: none;
  text-align:center;
  opacity: 0.8;
  color:#fff !important;
  z-index:2;
}

/* Sponsors */

/* Portfolio */

.portfolio, .sponsors, .registration, .schedule {
  padding: 50px 0;
}

.portfolio-item {
  margin-bottom: 25px;
}

.img-portfolio {
  margin: 0 auto;
}


/* Call to Action */

.call-to-action {
  color: #ffffff;
  background: #0a5175;
  padding: 50px 0;
}

.call-to-action .btn {
  margin: 10px;
}

/* Map */

.map {
  height: 500px;
  border-bottom: 4px solid #333;
}

/* Footer */

footer {
  padding: 30px 0;
  border-top: 4px solid #C5C5C5;
}

.top-scroll {
  margin-top: 50px;
}

.top-scroll a {
  text-decoration: none;
  color: inherit;
}

i.scroll {
  color: #333333;
}

i.scroll:hover {
  color: #0a5175;
}
/* Responsive */

@media (max-width: 768px) {

  .header {
    background: url(../img/home-background.jpg) no-repeat center center scroll;
  }

  .callout {
    background: url(../img/callout.jpg) no-repeat center center scroll;
  }

  .map {
    height: 75%;
  }

}

@media (max-width: 992px) {
  .sponsors-item .img-thumbnail{
    margin-bottom: 1em;
  }
}

.btn {
  border: 2px solid #fff;
}

.btn, .input-group-lg>.form-control, .input-group-lg>.input-group-addon, .input-group-lg>.input-group-btn>.btn, .nav-tabs>li>a {
  border-radius: 0;
}

.nav-tabs>li>a:nth-child(1):hover, .nav-tabs>li>a:nth-child(2):hover, .nav-tabs>li>a:nth-child(3):hover{
  /* color: #FFF; */
}
/* .nav-tabs>li>a:nth-child(1):hover {
  background-color: #19ACCA;
}
.nav-tabs>li>a:nth-child(2):hover {
  background-color: #D83E40;
}
.nav-tabs>li>a:nth-child(3):hover {
  background-color: #19ACCA;
}
 */
.square-reticle{
    background: #F2F2F2;
    background-image: -moz-linear-gradient(45deg, rgba(0,0,0,.15) 1px, transparent 1px);
    background-image: -webkit-linear-gradient(45deg, rgba(0,0,0,.15) 1px, transparent 1px);
    background-image: -ms-linear-gradient(45deg, rgba(0,0,0,.15) 1px, transparent 1px);
    background-image: -o-linear-gradient(45deg, rgba(0,0,0,.15) 1px, transparent 1px);
    background-image: linear-gradient(45deg, rgba(0,0,0,.15) 1px, transparent 1px);
    -webkit-background-size: 2px 2px;
    background-size: 2px 2px;
}
.form-signin.newsletter .input-group{
  margin-bottom: 1em;
}

/*  FONT-COLORS */

/* LOCATION */
#location{
  padding: 30px 0;
  border-bottom: 4px solid #0a5175;
}
/* LOCATION */

.icon {
  display: block;
  text-align: center;
  padding: 0 15px;
  position: relative;
}
.icon:after {
  background-color: #0ea7c3;
  border-radius: 100%;
  content: "";
  height: 6px;
  margin-left: -2px;
  position: absolute;
  top: 107px;
  left: 50%;
  opacity: 0;
  filter: alpha(opacity=0);
  width: 6px;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}
.icon h2 {
  margin-top: 40px;
  margin-bottom: 20px;
  -webkit-transition: color .5s;
  transition: color .5s;
}
.icon p {
  line-height: 1.7em;
}
.icon .glyphicon {
  border: 7px solid #0ea7c3;
  border-radius: 100%;
  font-size: 34px;
  padding: 34px;
  width: auto;
}
.icon .glyphicon:before {
  color: #0ea7c3;
  position: relative;
  -webkit-transition: color .3s;
  transition: color .3s;
}
.icon .glyphicon:after {
  background-color: #fff;
  border: 4px solid #0ea7c3;
  border-radius: 100%;
  content: "";
  height: 32px;
  margin-left: -15px;
  position: absolute;
  top: auto;
  right: auto;
  bottom: -16px;
  left: 50%;
  width: 32px;
}
.icon .glyphicon.glyphicon-heart-empty:before {
  left: -2px;
}
.icon:hover {
  color: #444444;
}
.icon:hover:after {
  opacity: 1;
  filter: alpha(opacity=100);
}
.icon:hover h2 {
  color: #0ea7c3;
}
.icon:hover .glyphicon {
  background-color: #0ea7c3;
  border: 1px solid #2b8b9c;
  padding: 40px;
}
.icon:hover .glyphicon:before {
  color: #fff;
}
.icon:hover .glyphicon:after {
  bottom: -10px;
}

.parallax-text, .parallax-text-mini{
  background-color: rgba(37,40,46,0.8);
  color: #fff;
  font-family: "Open Sans","Arial",sans-serif;
  font-size: 60px;
  font-weight: lighter;
  line-height: 75px;
  padding-right: 10px;
  padding-left: 10px;
  clear: both;
}

.parallax-text:hover, .parallax-text-mini:hover{
  color: #fff;
  text-decoration:none;
}

footer .parallax-text, .parallax-text-mini{
  font-size: 23px !important;
  line-height: 29px !important;
}

.green{
  background: #16a085;
}
.blue{
  background: #19ACCA;
}
.black{
  background: #373737;
}
.red {
  background: #D83E40;
}

.margin-bottom-25{
  margin-bottom: 25px !important;
}
.font-warning{
  color: #C7254E;
}
.font-white, a.font-white, a.font-white:hover{
  color: #FFF;
}

#btn-schedule{
  color: #19ACCA !important;
  background-color: #fff;
  border-color: #ccc;
  font-weight: bold;
}

a.font-white, a.font-white:hover{
  text-decoration: none;
}

.bold{
  font-weight: bold;
}

#call-for-papers{
  background: #373737;
  color: #FFF;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 4px solid #D83E40;
  display: table;
  height: 200px;
  width: 100%;
  background: url('../img/call-for-papers.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#about {
  background: #F2F2F2;
  border-top: 4px solid #D83E40;
}
#timeline{
  padding-top: 50px;
}
.btn-call-for-papers{
  margin-bottom: -55px;
}
.border-call-for-papers{
  background: #D83E40;
}

.video-content {
  margin-top: 20px;
}

#videos{
  padding-top: 20px;
  padding-bottom: 20px;
  display: table;
  min-height: 200px;
  width: 100%;
  background: #DBD9D7;
  border-top: 4px solid #C5C5C5;
  border-bottom: 4px solid #C5C5C5;
}

#videos h3 {
  margin-bottom: 20px;
}

#registration {
  color: #fff;
}

#iframe-inscricao{
  border: none !important;
  width: 100%;
  height: 700px;
  overflow-x:hidden;
}

.registration-form {
    width: 100%!important;
}
.btn-registration-form{
  display: none;
}
@media screen and (max-width:768px) {
    .registration-form {
        display: none;
    }
    .btn-registration-form{
      display:inline-block;
    }
    .bg-registration {
      color: #333 !important;
      background: #F2F2F2;
      background-image: -moz-linear-gradient(45deg, rgba(0,0,0,.15) 1px, transparent 1px);
      background-image: -webkit-linear-gradient(45deg, rgba(0,0,0,.15) 1px, transparent 1px);
      background-image: -ms-linear-gradient(45deg, rgba(0,0,0,.15) 1px, transparent 1px);
      background-image: -o-linear-gradient(45deg, rgba(0,0,0,.15) 1px, transparent 1px);
      background-image: linear-gradient(45deg, rgba(0,0,0,.15) 1px, transparent 1px);
      -webkit-background-size: 2px 2px;
      background-size: 2px 2px;
    }
}

@media screen and (min-width:768px) {
    .registration-form {
        display: block;
    }
}


/* Timeline */
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
  background: #F2F2F2;
}
.last-events {
  padding: 20px 0;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #666;
  left: 50%;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  background: #FFF;
}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-badge.primary {
  background-color: #2e6da4 !important;
}
.timeline-badge.success {
  background-color: #3f903f !important;
}
.timeline-badge.warning {
  background-color: #f0ad4e !important;
}
.timeline-badge.danger {
  background-color: #d9534f !important;
}
.timeline-badge.info {
  background-color: #5bc0de !important;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}
/* Timeline */

@media (max-width: 768px) {
  .icon {
    margin: 30px 0;
  }

  .parallax-text{
    font-size: 31px;
    line-height: 39px
  }

  .video-content .col-md-6:before,
  .video-content .col-md-6:after {
    display: table;
    content: " ";
  }

  .video-content .col-md-6:after {
    clear: both;
  }


}


@media (max-width: 992px) {
  .corner-description {
    display: none !important;
    visibility: hidden;
    height: 0;
  }
}
