<div id="last-events" class="last-events red">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-md-6 col-md-offset-3 col-xs-offset-3 text-center font-white">
        <h2><span class="parallax-text square-reticle">Eventos</span><br/><span class="parallax-text square-reticle">Anteriores</span></h2>
        <hr>
      </div>
    </div>
  </div>
</div>
<div id="timeline" class="timeline">
  <div class="container">
    <ul class="timeline">
        <li>
          <div class="timeline-badge"><i class="fa fa-comments-o"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">2009</h4>
              <p><small class="text-muted"><i class="fa fa-time"></i> O início</small></p>
            </div>
            <div class="timeline-body">
              <p>Primeira hora do evento realizada em parceria com a UNIME.</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge warning"><i class="fa fa-signal"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">2010</h4>
            </div>
            <div class="timeline-body">
              <p>Segunda edição. Realizada em parceria com a UNIJORGE.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge danger"><i class="fa fa-calendar"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">2011</h4>
            </div>
            <div class="timeline-body">
              <p>Terceira edição. Realizada em parceria com as faculdades Área 1 / Ruy Barbosa.</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge success"><i class="fa fa-qrcode"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">2012</h4>
            </div>
            <div class="timeline-body">
              <p>Quarta edição. Realizada em parceria com a Universidade Católica de Salvador - UCSAL.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge info"><i class="fa fa-refresh"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">2013</h4>
            </div>
            <div class="timeline-body">
              <p>Uma parada para recarregar as energias!</p>
              <hr>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge success"><i class="fa fa-spinner fa-spin"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">2014</h4>
            </div>
            <div class="timeline-body">
              <p>O evento será realizado na Universidade Salvador - UNIFACS trazendo grandes novidades. Aguardem!</p>
            </div>
          </div>
        </li>
    </ul>
  </div>
</div>
