<div id="schedule" class="schedule">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 text-center">
        <h2>Programação</h2>
        <hr>
      </div>
    </div>
    <div class="row">

      <p class="col-md-5 col-md-offset-4 text-center">Dê uma conferida no que está por vir.<br/>Traremos as novidades da grade a cada semana.</p>
      <p class="col-md-5 col-md-offset-4 text-center bold"><span class="font-warning bold">*</span> Grade sujeita a mudanças</p>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <!-- Tabs -->
        <ul class="nav nav-tabs">
            <li class="active col-md-4 col-sm-4 col-xs-4"><a href="#tab1" data-toggle="tab">13/03/2014</a></li>
            <li class="col-md-4 col-sm-4 col-xs-4"><a href="#tab2" data-toggle="tab">14/03/2014</a></li>
            <li class="col-md-4 col-sm-4 col-xs-4"><a href="#tab3" data-toggle="tab">15/03/2014</a></li>
        </ul>
        <div class="panel-body">
            <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                  <table class="table table-bordered table-striped table-hover">
                    <thead>
                      <tr>
                        <th>Horário</th>
                        <th>Sala 1</th>
                        <th>sala 2</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>8:00 às 12:00</td>
                        <td>LinguÁgil Labs</td>
                        <td>Intervalo</td>
                      </tr>
                      <tr>
                        <td>12:00 às 13:00</td>
                        <td>Intervalo</td>
                        <td>Intervalo</td>
                      </tr>
                      <tr>
                        <td>13:00 às 17:30</td>
                        <td>LinguÁgil Labs</td>
                        <td>Intervalo</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="tab-pane" id="tab2">
                  <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                      <thead>
                        <tr>
                          <th>Horário</th>
                          <th>Sala 1</th>
                          <th>Lab 1</th>
                          <th>Lab 2</th>
                          <th>Lab 3</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>8:00 às 12:00</td>
                          <td>Linguágil Labs</td>
                          <td>Minicurso 8 horas: Android HE:Mobile</td>
                          <td>Minicurso 8 horas: App Engine Java e Python</td>
                          <td>Não disponível</td>
                        </tr>
                        <tr>
                          <td>12:00 às 13:00</td>
                          <td>Intervalo</td>
                          <td>Intervalo</td>
                          <td>Intervalo</td>
                          <td>Intervalo</td>
                        </tr>
                        <tr>
                          <td>13:00 às 17:30</td>
                          <td>Linguágil Labs</td>
                          <td>Minicurso 8 horas: Android HE:Mobile</td>
                          <td>Minicurso 8 horas: App Engine Java e Python</td>
                          <td>Tutorial 4 horas: Phonegap / Cordova</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="tab-pane" id="tab3">
                  <table class="table table-bordered table-striped table-hover">
                    <thead>
                      <tr>
                        <th>Horário</th>
                        <th>Auditório</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>8:00 às 12:00</td>
                        <td>Welcome coffe / Credenciamento</td>
                      </tr>
                      <tr>
                        <td>8:45 às 9:00</td>
                        <td>Abertura</td>
                      </tr>
                      <tr>
                        <td>9:00 às 10:00</td>
                        <td>Keynote 1</td>
                      </tr>
                      <tr>
                        <td>10:00 às 11:00</td>
                        <td>Apresentação dos projetos LinguÁgil Labs</td>
                      </tr>
                      <tr>
                        <td>11:00 às 12:00</td>
                        <td>Palestra</td>
                      </tr>
                      <tr>
                        <td>12:00 às 13:00</td>
                        <td>Intervalo</td>
                      </tr>
                      <tr>
                        <td>13:00 às 14:00</td>
                        <td>Palestra</td>
                      </tr>
                      <tr>
                        <td>15:20 às 16:00</td>
                        <td>Coffe Break</td>
                      </tr>
                      <tr>
                        <td>16:00 às 17:00</td>
                        <td>Keynote 2</td>
                      </tr>
                      <tr>
                        <td>17:00</td>
                        <td>Encerramento / Sorteios</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>
            </div>
      </div>
    </div>
  </div>
</div>
