<div id="sponsors" class="sponsors">
  <div class="container">
    <div class="row">
      <h2 class="text-center">Patrocinadores</h2>
    </div>
    <div class="row">
      <h3 class="col-md-12"><span class="parallax-text blue">GOLD</span></h3>
    </div>
    <div class="row">

      <div class="col-md-3 col-sm-4 col-xs-6">
        <a href="http://www.thoughtworks.com/pt/" class="external" title="ThoughtWorks">
          <div class="thumbnail">
            <div class="caption text-center blue">
              <h4 class="bold no-opacity">ThoughtWorks</h4>
              <hr/>
            </div>
            <img alt="ThoughtWorks" src="img/sponsors/thoughtworks.png" width="290" height="290" class="img-thumbnail img-responsive" />
          </div>
        </a>
      </div>
    </div>

    <div class="row">
      <h3 class="col-md-12"><span class="parallax-text green">BRONZE</span></h3>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-6">
        <a href="http://hemobile.com.br" class="external" title="HE:Mobile">
          <div class="thumbnail">
            <div class="caption text-center green">
              <h4 class="bold no-opacity">HE:Mobile</h4>
              <hr/>
            </div>
            <img alt="HE:Mobile" src="img/sponsors/he-mobile.png" width="290" height="290" class="img-thumbnail img-responsive" />
          </div>
        </a>
      </div>

      <div class="col-md-3 col-sm-4 col-xs-6">
        <a href="http://oncedev.com.br" class="external" title="Oncedev">
          <div class="thumbnail">
            <div class="caption text-center green">
              <h4 class="bold no-opacity">Oncedev</h4>
              <hr/>
            </div>
            <img alt="Oncedev" src="img/sponsors/oncedev.png" width="290" height="290" class="img-thumbnail img-responsive" />
          </div>
        </a>
      </div>

      <div class="col-md-3 col-sm-4 col-xs-6">
        <a href="http://www.quebecnacabeca.com/pt/" class="external" title="Quebec">
          <div class="thumbnail">
            <div class="caption text-center green">
              <h4 class="bold no-opacity">Quebec</h4>
              <hr/>
            </div>
            <img alt="Quebec" src="img/sponsors/quebec.png" width="290" height="290" class="img-thumbnail img-responsive" />
          </div>
        </a>
      </div>

      <div class="col-md-3 col-sm-4 col-xs-6">
        <a href="mailto:linguagil@linguagil.com.br" title="Torne-se nosso patrocinador">
          <div class="thumbnail">
            <div class="caption text-center green">
              <h4>Torne-se nosso patrocinador</h4>
              <hr/>
            </div>
            <img alt="Torne-se nosso patrocinador" src="img/sponsors/be-a-sponsor.png" width="290" height="290" class="img-thumbnail img-responsive sponsors-item" />
          </div>
        </a>
      </div>

    </div>
  </div>
</div>
<!-- -->
<div id="registration" class="registration red">
  <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center">
          <h2>Inscrições</h2>
          <hr>
        </div>
      </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
          <script src="http://doity.com.br/js/box_inscricao.js" type="text/javascript"></script>
          <iframe id="iframe-inscricao" class="registration-form" onload="setIframeHeight(this.id)" src="http://doity.com.br/linguagil-2014/passo1"></iframe>
      </div>
    </div>
  </div>
</div>

<!-- Call to Action -->
<div class="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h3>Gostaria de patrocinar o evento?</h3>
        <a href="mailto:linguagil@linguagil.com.br" class="btn btn-lg btn-primary">Entre em contato</a>
      </div>
    </div>
  </div>
</div>
<!-- /Call to Action -->

<!-- Location -->
<div id="location" class="location">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Localização</h2>
        <p>Universidade Salvador - UNIFACS, Avenida Luís Viana - Paralela, Salvador - BA</p>
        <p>OU</p>
        <p>...após compartilhar a sua localização no mapa, clique no ícone do linguágil ou nos botões "<b>Local do evento</b>" e "<b>Minha localização</b>".</p>
      </div>
    </div>
  </div>
</div>
