<div id="videos" class="videos">
  <div class="container desc">
      <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center">
          <h2>Vídeos</h2>
          <hr>
        </div>
      </div>
      <div class="row">
        <p class="col-md-6 col-md-offset-2 text-center">Assista os depoimentos de quem apóia o LinguÁgil</p>
      </div>
      <div class="row clearfix video-content">
        <div class="col-md-6">
          <a class="video-target" id="video-target-1" data-video-src="http://vimeo.com/83611945" data-width="557" data-height="313" data-target="#video-target-1">
            <img src="img/videos/video001.png" width="557" height="313" alt="Rafael Miranda" class="img-thumbnail img-responsive" >
          </a>
        </div>
        <div class="col-md-4">
          <h3><span class="parallax-text">Rafael</span><span class="parallax-text blue">Miranda</span></h3>
          <p>Rafael Miranda é o fundador da HE:Mobile, colabora com vários movimentos em Salvador como o #agileBahia, #horaextraBA, faz parte também da organização do LinguÁgil além de ser um dos nossos patrocinadores.</p>
        </div>
      </div>
      <hr/>
      <div class="row clearfix video-content">
        <div class="col-md-6">
          <a class="video-target" id="video-target-2" data-video-src="http://vimeo.com/84084653" data-width="557" data-height="313" data-target="#video-target-2">
            <img src="img/videos/video002.png" width="557" height="313" alt="Diego Barreto" class="img-thumbnail img-responsive" >
          </a>
        </div>
        <div class="col-md-4">
          <h3><span class="parallax-text">Diego</span><span class="parallax-text blue">Barreto</span></h3>
          <p>Diego Barreto é desenvolvedor Java, atualmente está no Canadá e já participou do LinguÁgil.</p>
        </div>
      </div>
      <hr/>
      <div class="row clearfix video-content">
        <div class="col-md-6">
          <a class="video-target" id="video-target-3" data-video-src="http://vimeo.com/84481476" data-width="557" data-height="313" data-target="#video-target-3">
            <img src="img/videos/video003.png" width="557" height="313" alt="Edson Yanaga" class="img-thumbnail img-responsive" >
          </a>
        </div>
        <div class="col-md-4">
          <h3><span class="parallax-text">Edson</span><span class="parallax-text blue">Yanaga</span></h3>
          <p>Neste vídeo, Edson Yanaga, desenvolvedor de software e palestrante no LinguÁgil 2014, fala porque todos devem ir ao evento.</p>
        </div>
      </div>
      <div class="row clearfix video-content">
        <div class="col-md-6">
          <a class="video-target" id="video-target-4" data-video-src="http://vimeo.com/84691063" data-width="557" data-height="313" data-target="#video-target-4">
            <img src="img/videos/video004.png" width="557" height="313" alt="Alexandre Gomes" class="img-thumbnail img-responsive" >
          </a>
        </div>
        <div class="col-md-4">
          <h3><span class="parallax-text">Alexandre</span><span class="parallax-text blue">Gomes</span></h3>
          <p>Neste vídeo, Alexandre Gomes, figura ímpar nas comunidades de desenvolvimento brasileiras e palestrante de edições anteriores, fala sobre o sentimento que possui pelo LinguÁgil e porque todos devem ir ao evento.</p>
        </div>
      </div>
  </div>
</div>
